//Holds the APP_SECRET DB name and other information that may change between development and production
const APP_SECRET = "secret";
const atlasURI = "mongodb+srv://username:password@cluster0.ikcii.mongodb.net/database?retryWrites=true&w=majority";
const options = {
  port: 4000,
  endpoint: "/sample",
};
module.exports = {
  atlasURI,
  APP_SECRET,
  apiOptions,
};